/*# Front-end Style Guide

## Layout

The designs were created to the following widths:
- Mobile: 375px
- Desktop: 1440px

## Colors
- White: hsl(0, 0%, 100%)
- Light pink: hsl(275, 100%, 97%)
- Grayish purple: hsl(292, 16%, 49%)
- Dark purple: hsl(292, 42%, 14%)
## Typography
### Body Copy
- Font size (paragraphs): 16px

### Font

- Family: [Work Sans](https://fonts.google.com/specimen/Work+Sans)
- Weights: 400, 600, 700*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');
:root {
    --White: hsl(0, 0%, 100%);
    --Light-pink: hsl(275, 100%, 97%);
    --Grayish-purple: hsl(292, 16%, 49%);
    --Dark-purple: hsl(292, 42%, 14%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--Light-pink);
}
.container{
    background-image: url(./assets/images/background-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: "Work Sans";
    flex-direction: column;
    min-height: 95vh;
    width: 100%;
}


.card{
    width: 375px;
    background-color: var(--White);
    padding: 1.5em;
    border-radius: 0.5em;
}

.card__title{
    display: flex;
    align-items:center;
    gap: 1.5em;
    margin-bottom: 1em;
    color: var(--Dark-purple);
    
}

.card__title__img img{
    width: 25px;
    padding-top: 5px;
}

.card__question{
    display: flex;
    justify-content: space-between;
    color: var(--Dark-purple);
    font-size: 0.80rem;
    }
    .card__question h2{
        padding-right: 1em;
    }

    .card__question:hover{
        color: rgb(189, 18, 189);
    }

.paragraph{
    padding: 1em;
    font-size: 0.95rem;
    margin-bottom: 0.5em;
    color: var(--Grayish-purple);
}

hr{
    margin-bottom: 1em;
    margin-top: 1em;
    color: var(--Light-pink);
    border-color: var(--Light-pink);
}

.hidden{
    display: none;
}

@media (min-width: 600px){
    .card{
        width: 570px;
    }
}